<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog do Programador</title>
    
    <!-- Vendor -->
    <link rel="stylesheet" href="/themes/alternative/style.css">
    
    <!-- Live -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Custom -->
    <script type="text/javascript" src="/themes/alternative/functions.js"></script>
    <link rel="stylesheet" href="/themes/alternative/custom.css">
</head>

<body id="myPage" onload="init()">

<!-- Header -->
<div>
header.
</div>

<!-- Content -->
<div id="github_page_default_content" class="w3-container" style="display:none;">
{{ content }}
</div>

<!-- Loader -->
<div id="github_page_default_loader" style="display: block; padding:20px;">
    <div id="loader" style="margin-left: auto; margin-right: auto;"></div>
</div>
    
    
    

<!-- Footer -->
<div>
footer.
</div>


</body>
</html>
